<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>ALL FIGURES</h1>
    <% @figures.each do |f| %>
      <h3><%= f.name %></h3>

    <% end %>
  </body>
</html>
